{% extends 'base.html.twig' %}

{% block title %}Shift Pic{% endblock %}

{% block head %}
    <meta name="description" content="Resize and optimize images for every resolution in a single click with the Shift Pic Chrome extension">
    <meta property="og:title" content="Shift Pic - Image optimization for web developers and designers">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <section id="hero">
        <div class="content">
            <h1>Streamline your image resizing and optimizing process.</h1>
            <p>Your time is too valuable to be spent resizing and optimizing images manually. Let Shift Pic do the heavy lifting for you.</p>

            <a href="{{ webstore_url }}" target="_blank" class="button large">
                <span>Add to Chrome</span><span class="its-free"> - It's free</span>
            </a>
        </div>
        <div class="image">
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 1600" xml:space="preserve" version="1.1">
               <g transform="matrix(1.3333333,0,0,-1.3333333,0,1600)">
                    <g transform="scale(0.1)">
                        <path class="hero-svg-device" id="hero-device-mobile" d="m 2150,3550 h -700 v 1600 l 150,0.02 c 0,-0.01 0,-0.01 0,-0.02 0,-55.27 44.78,-100 100,-100 h 200 c 55.22,0 100,44.73 100,100 0,0.02 -0.02,0.06 -0.02,0.08 l 150.02,0.02 z m 0,1800 h -700 c -110.3,0 -200,-89.75 -200,-200 V 3550 c 0,-110.25 89.7,-200 200,-200 h 700 c 110.3,0 200,89.75 200,200 v 1600 c 0,110.25 -89.7,200 -200,200" />
                        <g class="hero-svg-device" id="hero-device-tablet">
                            <path d="M 4650,3550 H 3050 v 2000 l 1600,0.1 z m 0,2200 H 3050 c -110.3,0 -200,-89.75 -200,-200 V 3550 c 0,-110.25 89.7,-200 200,-200 h 1600 c 110.3,0 200,89.75 200,200 v 2000 c 0,110.25 -89.7,200 -200,200" />
                            <path d="m 3850,3650 c 69.04,0 125,55.97 125,125 0,69.03 -55.96,125 -125,125 -69.04,0 -125,-55.97 -125,-125 0,-69.03 55.96,-125 125,-125" />
                        </g>
                        <path class="hero-svg-device" id="hero-device-desktop" d="M 9850,3550 H 5850 c -130.37,0 -241.6,83.59 -282.86,200 H 5850 7350 c 0,-55.27 44.78,-100 100,-100 h 800 c 55.22,0 100,44.73 100,100 h 1500 282.9 C 10091.6,3633.59 9980.37,3550 9850,3550 Z M 6050,6250 H 9650 V 3950 H 6050 Z m 4200,-2300 h -400 v 2300 c 0,110.3 -89.75,200 -200,200 H 6050 c -110.3,0 -200,-89.7 -200,-200 V 3950 h -400 c -55.22,0 -100,-44.73 -100,-100 0,-275.68 224.32,-500 500,-500 h 4000 c 275.7,0 500,224.32 500,500 0,55.27 -44.7,100 -100,100" />
                        <g class="hero-svg-device" id="hero-device-4k">
                            <g transform="scale(1.02761)">
                                <path d="m 16008.1,4330.45 h -2335.6 -973.1 -2335.5 c -53.7,0 -97.3,43.61 -97.3,97.31 v 389.26 h 5838.8 v -389.26 c 0,-53.7 -43.6,-97.31 -97.3,-97.31 z m -2334.6,-792.29 c 3,-20.82 12.7,-40.1 27.6,-55.02 l 28.5,-28.51 h -1087.2 l 28.5,28.51 c 14.9,14.92 24.5,34.2 27.5,55.02 l 85.4,597.66 h 804.4 z m -3309.6,4684.83 h 5644.2 c 53.7,0 97.3,-43.67 97.3,-97.32 V 5011.64 h -5838.8 v 3114.03 c 0,53.65 43.6,97.32 97.3,97.32 z m 5644.2,194.62 h -5644.2 c -161,0 -292,-130.95 -292,-291.94 V 4427.76 c 0,-160.98 131,-291.94 292,-291.94 h 2223.3 l -76.8,-537.97 -171.7,-171.74 c -27.9,-27.84 -36.2,-69.65 -21.2,-106.05 15,-36.39 50.7,-60.06 90,-60.06 h 1557 c 39.3,0 74.9,23.67 89.9,60.06 15.1,36.4 6.7,78.21 -21.1,106.05 l -171.8,171.74 -76.8,537.97 h 2223.4 c 160.9,0 291.9,130.96 291.9,291.94 v 3697.91 c 0,160.99 -131,291.94 -291.9,291.94" />
                            </g>
                            <path d="m 13550,4850 c -82.7,0 -150,-67.29 -150,-150 0,-82.71 67.3,-150 150,-150 82.7,0 150,67.29 150,150 0,82.71 -67.3,150 -150,150" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </section>

    <section id="how-it-works">
        <div class="flex-container">
            <div class="canvas-wrapper two-third">
                <div class="scene-canvas">
                    <div class="scene active" id="step-1">
                        <img src="{{ asset('media/steps/animation-select-image-optimized.gif') }}" alt="">
                    </div>
                    <div class="scene" alt="" id="step-2">
                        <img src="{{ asset('media/steps/animation-upload-image.gif') }}" alt="">
                    </div>
                    <div class="scene" alt="" id="step-3">
                        <img src="{{ asset('media/steps/animation-optimize.gif') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="third steps">
                <h2>How it works</h2>
                <a href="#step-1" class="step-switcher active">
                    <div class="title">1. Select the image</div>
                    <div class="description">Just click on the image node on your website.</div>
                </a>
                <a href="#step-2" class="step-switcher">
                    <div class="title">2. Choose your source image(s)</div>
                    <div class="description">Upload images from your computer or find the perfect stock photo.</div>
                </a>
                <a href="#step-3" class="step-switcher">
                    <div class="title">3. Download your optimized image(s)</div>
                    <div class="description">Submit your image(s), and a download for the optimized versions will automatically follow.</div>
                </a>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <h2>Features overview</h2>
            <div class="grid">
                <div class="feature">
                    <img src="https://tools.emileperron.com/fa-color/light/expand/%236a41c3" alt="">
                    <h3 class="title">Size detection</h3>
                    <div class="description">Shift Pic zooms and resizes the window to different levels to figure out the ideal resolution of your image for all of the major breakpoints.</div>
                </div>
                <div class="feature">
                    <img src="https://tools.emileperron.com/fa-color/light/hand-pointer/%236a41c3" alt="">
                    <h3 class="title">Drag & drop</h3>
                    <div class="description">Select images from your computer or simply drag them anywhere in Shift Pic's popup window to upload them and start resizing and processing them.</div>
                </div>
                <div class="feature">
                    <img src="https://tools.emileperron.com/fa-color/light/images/%236a41c3" alt="">
                    <h3 class="title">Batch upload</h3>
                    <div class="description">Select or drag & drop all of your images at once, and Shift Pic will optimize them all in one go. No need to spend your time selecting files one at a time anymore!</div>
                </div>
                <div class="feature">
                    <img src="https://tools.emileperron.com/fa-color/light/camera-retro/%236a41c3" alt="">
                    <h3 class="title">RAW & GIF support</h3>
                    <div class="description">Shift Pic supports just about every image format you'll ever have to use, including animated GIFs and RAW pictures straight out of your camera.</div>
                </div>
                <div class="feature">
                    <img src="https://tools.emileperron.com/fa-color/light/magic/%236a41c3" alt="">
                    <h3 class="title">Auto-quality</h3>
                    <div class="description">Shift Pic's optimization system can automatically detect the best quality level for your image in order to get the lowest file size with the smallest loss of visual quality possible.</div>
                </div>
                <div class="feature">
                    <img src="https://tools.emileperron.com/fa-color/light/search/%236a41c3" alt="">
                    <h3 class="title">Image search</h3>
                    <div class="description">Find the perfect images for your needs with our built-in image search powered by Unsplash, which gives you access to over a million copyright-free stock images for free.</div>
                </div>
            </div>
        </div>
    </section>

    <section id="stats">
        <div class="flex-container">
            <div class="counter small">
                <div class="count" data-count="230">0</div>
                <div class="label">formats supported</div>
            </div>
            <div class="counter">
                <div class="count processed-count" data-count="500">0</div>
                <div class="label">images optimized</div>
            </div>
            <div class="counter small">
                <div class="count" data-count="7">0</div>
                <div class="label">updates released</div>
            </div>
        </div>
    </section>

    <section id="add-for-free">
        <div class="container">
            <a href="{{ webstore_url }}" target="_blank" class="button large">
                <span>Add to Chrome</span><span class="its-free"> - It's free</span>
            </a>
        </div>
    </section>

    <section id="pricing">
        <h2>Plans</h2>
        <div class="plans-container">
            <div class="plan free" i18n-prefix="tab_plans_free_">
                <div class="header">
                    <div class="title">Free</div>
                    <div class="price">$0</div>
                    <div class="per-month">per month</div>
                </div>
                <hr>
                <div class="description-wrapper">
                    <div class="description-line">25 optimizations / month</div>
                    <div class="description-line">Limited format support <div class="subline">(JPEG, PNG, GIF, BMP and TIFF)</div></div>
                </div>
            </div>

            <div class="plan starter" i18n-prefix="tab_plans_starter_">
                <div class="header">
                    <div class="title">Starter</div>
                    <div class="price">$1<sup>.99</sup></div>
                    <div class="per-month">per month</div>
                </div>
                <hr>
                <div class="description-wrapper">
                    <div class="description-line">75 optimizations / month</div>
                    <div class="description-line">Improved format support <div class="subline">(adds support for HEIC and RAW)</div></div>
                </div>
            </div>

            <div class="plan premium" i18n-prefix="tab_plans_premium_">
                <div class="header">
                    <div class="title">Premium</div>
                    <div class="price">$5<sup>.99</sup></div>
                    <div class="per-month">per month</div>
                </div>
                <hr>
                <div class="description-wrapper">
                    <div class="description-line">500 optimizations / month</div>
                    <div class="description-line">Complete format support <div class="subline">(adds support for animated GIF)</div></div>
                </div>
            </div>

            <div class="plan enterprise" i18n-prefix="tab_plans_enterprise_">
                <div class="header">
                    <div class="title">Enterprise</div>
                    <div class="price">$19<sup>.99</sup></div>
                    <div class="per-month">per month</div>
                </div>
                <hr>
                <div class="description-wrapper">
                    <div class="description-line">2500 optimizations / month</div>
                    <div class="description-line">Complete format support <div class="subline">(adds support for animated GIF)</div></div>
                </div>
            </div>
        </div>

        <div class="clarifications">
            Every price on this website is in USD.<br>
            Checkout takes place within the Chrome extension.
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        // Fetch actuual stat from the API
        fetch('https://api.shiftpic.co/stats/processed').then((response) => {
            return response.json();
        }).then((response) => {
            const processedCount = response.count || 500;
            document.querySelector('#stats .processed-count').setAttribute('data-count', processedCount);

            // Animate counter when it first appears
            (function() {
                const elements = document.querySelectorAll('#stats .count');
                let windowHeight = window.innerHeight;

                function init() {
                    windowHeight = window.innerHeight;
                }

                function checkPosition() {
                    var isAllAnimated = true;

                    for (const element of elements) {
                        if (!element.classList.contains('animated')) {
                            isAllAnimated = false;
                            break;
                        }
                    }

                    for (const element of elements) {
                        (function(){
                            if (element.classList.contains('animated')) {
                                return;
                            }

                            var positionFromTop = element.getBoundingClientRect().top;

                            if (positionFromTop - windowHeight <= 0) {
                                element.classList.add('animated')

                                const duration = 2000;
                                let initialNumber = 0;
                                let finalNumber = parseInt(element.getAttribute('data-count'));
                                var range = finalNumber - initialNumber;
                                var current = initialNumber;
                                var increment = 1;
                                if (Math.abs(Math.floor(duration / range)) == 0) {
                                    increment = 1 / (duration / range) * 10;
                                    range = range / increment;
                                }
                                var stepTime = Math.abs(Math.floor(duration / range));
                                var timer = setInterval(function() {
                                    randomizedIncrement = Math.round(increment * (1 + (Math.round(Math.random() * 10) / 10 * (Math.random() > .5 ? 1 : -1))));
                                    if (current + randomizedIncrement <= finalNumber) {
                                        current += randomizedIncrement;
                                    } else {
                                        current = finalNumber;
                                    }

                                    element.innerHTML = current.toLocaleString();

                                    if (current == finalNumber) {
                                        clearInterval(timer);
                                    }
                                }, stepTime);
                            }
                        })();
                    }

                    if (isAllAnimated) {
                        clearInterval(checkingInterval);
                        checkingInterval = null;
                    }
                }

                let checkingInterval = setInterval(checkPosition, 100);
                window.addEventListener('resize', init);
                init();
                checkPosition();
            })();
        }).catch(() => {
            // Well, this is sad...
        });

        for (const stepSwitcher of document.querySelectorAll('.step-switcher')) {
            stepSwitcher.addEventListener('click', function(e){
                e.preventDefault();

                const targetScene = document.querySelector(stepSwitcher.getAttribute('href'));
                const currentScene = targetScene.parentNode.querySelector('.scene.active');
                const currentPicker = stepSwitcher.parentNode.querySelector('.step-switcher.active');

                if (targetScene == currentScene) {
                    return;
                }

                if (currentScene) {
                    currentScene.classList.remove('active');
                }

                if (currentPicker) {
                    currentPicker.classList.remove('active');
                }

                stepSwitcher.classList.add('active');
                targetScene.classList.add('active');
            });
        }
    </script>
{% endblock %}

{% block footer_cta %}{% endblock %}
