<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Shift Pic{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Work+Sans:wght@800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicons/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('favicons/safari-pinned-tab.svg') }}" color="#6a41c3">
        <link rel="shortcut icon" href="{{ asset('favicons/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-config" content="{{ asset('favicons/browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:image" content="{{ absolute_url(asset('media/og-image.png')) }}">
        <meta name="twitter:card" content="summary_large_image">

        {% block head %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-R69TFBSVRB"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-R69TFBSVRB');
        </script>
    </head>
    <body>
        <header>
            <a href="{{ path('home') }}" class="branding">
                <img src="{{ asset('media/icon-128.png') }}" alt="Shift Pic logo">
                Shift Pic
            </a>
            <nav>
                <a href="{{ path('support') }}">Support</a>
                <a href="{{ webstore_url }}" target="_blank" class="button">
                    <span>Add to Chrome</span><span class="its-free"> - It's free</span>
                </a>
            </nav>
        </header>

        {% block body %}{% endblock %}

        {% block footer_cta %}
            <section id="add-for-free">
                <div class="container">
                    <a href="{{ webstore_url }}" target="_blank" class="button large">
                        <span>Add to Chrome</span><span class="its-free"> - It's free</span>
                    </a>
                </div>
            </section>
        {% endblock %}

        {% block footer %}
            <footer>
                © Shift Pic {{ 'now' | date('Y') }}
                <br>
                <a href="{{ path('support') }}" target="_blank">Support</a>
                <a href="https://www.emileperron.com/privacy-policy" target="_blank">Privacy policy</a>
            </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}
        <script>
            // GA event: clicked webstore link
            for (const webstoreLink of document.querySelectorAll("a[href='{{ webstore_url }}']")) {
                webstoreLink.addEventListener('click', function(){
                    ga('send', 'event', '{{ app.request.get('_route') }}', 'webstore link clicked', e.target.textContent.trim());
                });
            }

            // GA event: scrolled to bottom of page
            let hasScrolledToBottom = false;
            const footerNode = document.querySelector('footer');
            window.addEventListener('scroll', function(){
                if (!hasScrolledToBottom && window.scrollY + window.innerHeight >= footerNode.offsetTop) {
                    hasScrolledToBottom = true;
                    ga('send', 'event', '{{ app.request.get('_route') }}', 'page completely scrolled');
                }
            });
        </script>
    </body>
</html>
